:root {
  --pri-color: rgb(99, 0, 99);
  --sec-color: white;
  --dark-color: rgb(65, 64, 64);
  --font-size: 16px;
}

body {
  background-color: var(--dark-color);
  color: var(--sec-color);
  font-size: var(--font-size);
  font-family: "Roboto", "Poppins", "Inter", "Nunito", "Lato", "Open Sans",
    sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-container {
  /* border: 2px solid; */
  padding: 10px;
  background-color: var(--pri-color);
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border-radius: 10px;

  h3 {
    color: rgb(255, 11, 11);
  }

  table {
    width: 100%;
    margin-top: 20px;

    th,
    td {
      padding: 10px;
      border: 1px solid black;
    }
    th {
      background-color: rgb(128, 128, 4);
      padding: 5px;
    }

    td {
      text-align: center;
    }

    a {
      text-decoration: none;
      margin: 10px;
    }

    #edit {
      color: rgb(8, 185, 255);
    }

    #delete{
      color: red;
    }
  }
}

form {
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;

  #btn-add {
    background-color: rgb(3, 224, 3);
    border-radius: 8px;
    height: 20px;
  }

  input,
  button {
    border-radius: 8px;
    cursor: pointer;
  }
  #e-edit {
    background-color: rgb(3, 224, 3);
    &:hover {
      background-color: rgb(88, 248, 88);
      cursor: pointer;
    }
  }
}

h1 {
  color: rgb(9, 118, 243);
}
