{% extends 'base.html' %} {% block head %}
<title>Todo App</title>
{% endblock %} {% block body%}
<div class="app-container">
  <h1>Todo App</h1>

  <!-- Add task search input -->
  <input type="text" id="taskSearch" placeholder="Search tasks..." />

  {% if tasks | length < 1 %}
  <h3>No tasks yet!</h3>
  {% else %}

  <table>
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Actions</th>
    </tr>
    {% for task in tasks %}

    <tr>
      <td>{{task.content}}</td>
      <td>{{task.created.strftime('%Y-%m-%d')}}</td>
      <td id="actions">
        <a href="/delete/{{task.id}}" id="delete">Delete</a>
        <a href="/edit/{{task.id}}" id="edit">Edit</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  {% endif %}
 <form action="/" method="post">
    <input type="text" name="content" id="content" placeholder="Enter your task" />
    <input type="submit" value="Add Task" id="btn-add" />
  </form>
</div>
{% endblock %}
